@font-face {
    font-family: Montserrat;
    src: url('/fonts/Montserrat/Montserrat-Medium.ttf');
}
body {
    --primary-color: #8AD5E4;
    --secondary-color: #2B70B1;
    --tertiary-color: #2B3E7F;
    --button-color: #2595FF;
    font-family: Montserrat, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fbfbfb;
}
/*
*
*   NAVBAR
*
*/
#nav-border {
    position: fixed;
    top: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 100;
}
.nav {
    max-height: 74px;
    width: 1024px;
    display: flex;
}
.nav > .logo {
    flex-basis: 270px;
    flex-grow: 1;
}
.nav > .logo > img {
    max-width: 270px;
}
.nav > .links {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
.nav > .links >.link {
    position: relative;
}
.nav > .links > .link > a { 
    color: #919191;
    text-decoration: none;
}
.nav > .links > .link:hover > a { 
    color: #2b2929;
    text-decoration: none;
}
.nav > .links > .link:hover > a::after {
    display: inline-block;
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: var(--secondary-color);
    bottom: -5px;
    left: calc(50% - 15px);
}
/*
*
*   HOMEPAGE BANNER
*
*/
.banner {
    height: 627px;
    position: relative;
}
.banner > div {
    position: absolute;
    top: 0px;
    max-width: 100%;
    width: 100%;
    height: 100%;
}
.banner > .banner-text {
    z-index: 20;
    display: flex;
    flex-direction: column;
    justify-content: center;
}
.banner > .banner-text > .banner-title,
.banner > .banner-text > .banner-subtitle,
.banner > .banner-text > .banner-actions {
    max-width: 45%;
    padding: 0 0 0 8%
}
.banner > .banner-text .banner-title {
    color: #09204C;
    font-size: xxx-large;
}
.banner > .banner-text .banner-subtitle {
    color: #ACB5C6;
    font-size: x-large;
}
.banner > .banner-text .banner-actions {
    display: flex;
    justify-content: flex-start;
    align-content: center;
    margin-top: 24px;
}
.banner > .banner-background {
    z-index: 10;
}
.banner > .banner-background > img {
    max-width: 100%;
}
#request-demo-button:hover, #request-demo-button:focus {
    color: #FFFFFF;
    background-color: #3160FAF2;
}
#request-demo-button {
    font-family: "Muli", Sans-serif;
    font-size: 12px;
    font-weight: 700;
    text-transform: uppercase;
    background-color: var(--button-color);
    color: #fff;
    border: 0;
    border-radius: 100px 100px 100px 100px;
    padding: 20px 10px 20px 15px;
}
#request-demo-button:active, 
#request-demo-button:focus, 
#request-demo-button:hover {
    transform: scale(0.9);
}
#play-button-container {
    display: flex;
    align-items: center;
    margin-left: 20px;
}
#play-button-container > div {
    border: 3px solid var(--button-color);
    border-radius: 50%;
    padding: 11px;
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}
#play-button-container > div:hover {
    background-color: #eaeaea    
}
#play-button-container > div > i {
    color: var(--button-color);
}