@font-face {
    font-family: Montserrat;
    src: url('/fonts/Montserrat/Montserrat-Medium.ttf');
}
@font-face {
    font-family: MontserratLight;
    src: url('/fonts/Montserrat/Montserrat-Light.ttf');
}
@font-face {
    font-family: MontserratExtraLight;
    src: url('/fonts/Montserrat/Montserrat-ExtraLight.ttf');
}
@font-face {
    font-family: MontserratBold;
    src: url('/fonts/Montserrat/Montserrat-Bold.ttf');
}
body {
    --primary-color: #8AD5E4;
    --secondary-color: #2B70B1;
    --tertiary-color: #2B3E7F;
    --button-color: #2595FF;
    --title-color: #4B597B;
    font-family: Montserrat, Roboto, 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    background-color: #fbfbfb;
}
h1, h2, h3, h4, h5, h6 {
    color: var(--title-color);
}
/*
*
*   NAVBAR
*
*/
#nav-border {
    position: absolute;
    top: 0px;
    width: 100vw;
    display: flex;
    justify-content: center;
    z-index: 100;
}
.nav {
    max-height: 74px;
    width: 1024px;
    display: flex;
}
.nav > .logo {
    flex-basis: 270px;
    flex-grow: 1;
}
.nav > .logo > img {
    max-width: 270px;
}
.nav > .links {
    flex-grow: 2;
    display: flex;
    justify-content: space-evenly;
    align-items: center
}
.nav > .links >.link {
    position: relative;
}
.nav > .links > .link > a { 
    color: #919191;
    text-decoration: none;
}
.nav > .links > .link:hover > a { 
    color: #2b2929;
    text-decoration: none;
}
.nav > .links > .link:hover > a::after {
    display: inline-block;
    content: '';
    position: absolute;
    height: 2px;
    width: 30px;
    background-color: var(--secondary-color);
    bottom: -5px;
    left: calc(50% - 15px);
}