<footer class="footer">
    <div class="footer-section">
        <img id="footer-logo" src="/images/logo-white.png" alt="">
        <p>18 rue Edouard Faure</p>
        <p>33000 Bordeaux</p>
        <p>Tél : +33 5 64 60 15 30</p>
    </div>
    <div class="footer-section">
        <nav>
            <ul>
                <li>
                    <a href="/">Accueil</a>
                </li>
                <li>
                    <a href="/pricing">
                        Tarifs
                    </a>
                </li>
                <li>
                    <a href="/posts">
                        Blog
                    </a>
                </li>
            </ul>
        </nav>
    </div>
</footer>
