<div id="nav-border" class="container">
    <nav id="nav" class="nav justify-content-center">
        <div class="logo">
            <img src="/images/logo.png" alt="Logo de My Simply Agenda">
        </div>
        <div class="links">
            {{ range .Site.Menus.main }}
            <div class="link">
                <a class="nav-link" href="{{ .URL }}">
                {{ if .Pre }}
                {{ $icon := printf "<i data-feather=\"%s\"></i> " .Pre | safeHTML }}
                {{ $icon }}
                {{ end }}
                {{ $text := print .Name | safeHTML }}
                {{ $text }}
                </a>
            </div>

            {{ end }}
        </div>

    </nav>
</div>