{{ define "main" }}
<div class="banner">
  <div class="banner-text">
    <h1 class="banner-title">Gérez vos RDV en ligne devient facile.</h1>
    <div class="banner-subtitle">
      Optimisez votre temps, maîtrisez vos coûts et fidélisez vos clients grâce à un agenda en ligne simple et efficace.
    </div>
    <div class="banner-actions">
      <div>
      <button id="request-demo-button" class="msa-button">Demander ma démonstration de l'agenda</button>
      </div>
      <div id="play-button-container">
        <div>
          <i class="fa fa-play"></i>
        </div>
      </div>
    </div>
  </div>
  <div class="banner-background">
    <img src="/images/V1.gif" alt="La prise de rendez-vous en ligne optimisée.">
  </div>
</div>
<section class="flex-container">
  <div class="content">
    <div class="flex-container">
      <div class="content column">
        <div class="card">
          <div class="card-body">
            <div class="card-logo">
              <img src="/images/Rank.png">
            </div>
            <div class="card-desc">Soyez plus productifs et mieux organisés</div>
          </div>

        </div>
        <div class="card">
          <div class="card-body">
            <div class="card-logo">
              <img src="/images/Calendar.png">
            </div>
            <div class="card-desc">Donnez des RDV 24/7</div>
          </div>

        </div>    
      </div>
  
      <div class="content column down">
        <div class="card">
          <div class="card-body">
            <div class="card-logo">
              <img src="/images/Clients.png">      
            </div>
            <div class="card-desc">Fidélisez vos clients</div>
          </div>
        </div>    
        <div class="card">
          <div class="card-body">
            <div class="logo">
              <img src="/images/Pc-1.png">
            </div>
            <div class="card-desc">Soyez mieux visibles en ligne</div>
          </div>

        </div>
      </div>
    </div>
    

  </div>
  <div class="content column">
    <div class="text-content" id="boost-text">
      <div class="stripe"></div>
      <h2 class="title">Boostez votre activité avec My Simply Agenda</h2>
      <p class="text">	
        Grâce à l’automatisation de vos process et une meilleure gestion des prises de rendez-vous de vos clients, gagnez en productivité et augmentez votre visibilité !
      </p>
    </div>
  </div>
</section>
<section class="flex-container" id='experience-container'>
  <div class="content centered">
    <div class="text-content" id="experience-text">
      <div class="stripe"></div>
      <h2 class="title">Une Expérience d’entreprise constante</h2>
      <p class="text">	
        L’outil My simply Agenda vous permet de centraliser et organiser l’information relative à la prise de rendez-vous de vos clients. Il n’améliore pas uniquement l’expérience de vos clients mais celle de votre équipe aussi.
      </p>
      <button class="msa-button">Prenons rendez-vous</button>
    </div>
  </div>
  <div class="content centered">
    <div class="image-content" id="experience-image">
      <img src="/images/image-accueil.png" alt="" srcset="">
    </div>
  </div>
</section>

<section class="flex-container">
  <div class="content">
    <div class="box">
      <div class="counter">
        <div class="counter-elt">
          <div class="counter-logo">
            <img src="/images/rdvs-reserves.png" alt="">
          </div>
          <div class="counter-title"> + 775,803 </div>
          <div class="counter-desc">RDV réservés/mois</div>
        </div>
        <div class="counter-elt">
          <div class="counter-logo">
            <img src="/images/utilisateurs.png" alt="">
          </div>
          <div class="counter-title">+ 380,204</div>
          <div class="counter-desc">Utilisateurs</div>
        </div>
        <div class="counter-elt">
          <div class="counter-logo">
            <img src="/images/time.png" alt="">
          </div>
          <div class="counter-title">+7</div>
          <div class="counter-desc">ans d'existence</div>
        </div>
        <div class="counter-elt">
          <div class="counter-logo">
            <img src="/images/user.png" alt="">
          </div>
          <div class="counter-title">4,9/5</div>
          <div class="counter-desc">satisfaction clients</div>
        </div>
      </div>
    </div>
  </div>
</section>
<!-- <div>
  Hey
</div>
<div style="display: flex; justify-content: center;">
  {{ range first 5 (where .Site.Pages "Type" "post") }}
    {{ partial "post-card.html" . }}

  {{ end }}
</div> -->
<script src="https://js-eu1.hs-analytics.net/analytics/1638971700000/25346861.js"></script>
{{ end }}