{{ define "main" }}
<div class="banner">
  <div class="banner-text">
    <h1 class="banner-title">Gérez vos RDV en ligne devient facile.</h1>
    <div class="banner-subtitle">
      Optimisez votre temps, maîtrisez vos coûts et fidélisez vos clients grâce à un agenda en ligne simple et efficace.
    </div>
  </div>
  <div class="banner-background">
    <img src="/images/V1.gif" alt="La prise de rendez-vous en ligne optimisée.">
  </div>
</div>
<!-- <div>
  Hey
</div>
<div style="display: flex; justify-content: center;">
  {{ range first 5 (where .Site.Pages "Type" "post") }}
    {{ partial "post-card.html" . }}

  {{ end }}
</div> -->
<script src="https://js-eu1.hs-analytics.net/analytics/1638971700000/25346861.js"></script>
{{ end }}